<div class="grid calculator">
  <app-history></app-history>
  <app-calculator-header></app-calculator-header>
  <app-calculator-screen [input]="placeholder" [operation]="operation_UI">
  </app-calculator-screen>
  <app-calculator-buttons
    (forDigit)="addNumber($event)"
    (forSymbol)="addOperator($event)"
    (pop)="pop()"
    (forDecimal)="addDecimalPoint()"
    (clearComputation)="clear()"
    (clearScreen)="clearAll()"
    (forPercentage)="toPercentage()"
    (addSubstraction)="toNegativeNumber()"
    (forSquareRoot)="toSquareRoot()"
    (forSquare)="toSquare()"
    (forFraction)="toFraction()"
    (forEqualTo)="equalTo()"
  ></app-calculator-buttons>
</div>
