<div class="grid calculator-buttons">
  <div class="grid row-1">
    <div class="pink-colored-col line-color-pos-right line-color-pos-left">
      <app-button value="&percnt;"></app-button>
    </div>
    <div class="pink-colored-col line-color-pos-right">
      <app-button value="CE"></app-button>
    </div>
    <div class="pink-colored-col line-color-pos-right">
      <app-button value="C"></app-button>
    </div>
    <div class="pink-colored-col line-color-pos-right">
      <app-button value="&larr;"></app-button>
    </div>
  </div>
  <div class="grid row-2">
    <div class="pink-colored-col line-color-pos-right line-color-pos-left">
      <button><sup>1</sup>/<sub>x</sub></button>
    </div>
    <div class="pink-colored-col line-color-pos-right">
      <button>x<sup>2</sup></button>
    </div>
    <div class="pink-colored-col line-color-pos-right">
      <button><sup>2</sup>&Sqrt;x</button>
    </div>
    <div class="pink-colored-col line-color-pos-right">
      <app-button value="&divide;"></app-button>
    </div>
  </div>
  <div class="grid row-3">
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="7"></app-button>
    </div>
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="8"></app-button>
    </div>
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="9"></app-button>
    </div>
    <div class="pink-colored-col line-color-pos-right">
      <app-button value="&times;"></app-button>
    </div>
  </div>
  <div class="grid row-4">
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="4"></app-button>
    </div>
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="5"></app-button>
    </div>
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="6"></app-button>
    </div>
    <div class="pink-colored-col line-color-pos-right">
      <app-button value="&minus;"></app-button>
    </div>
  </div>
  <div class="grid row-5">
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="1"></app-button>
    </div>
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="2"></app-button>
    </div>
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="3"></app-button>
    </div>
    <div class="pink-colored-col line-color-pos-right">
      <app-button value="&plus;"></app-button>
    </div>
  </div>
  <div class="grid row-6">
    <div class="mid-dark-colored-col line-color-pos-right">
      <button><sup>&plus;</sup>/<sub>&minus;</sub></button>
    </div>
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="0"></app-button>
    </div>
    <div class="digit mid-dark-colored-col line-color-pos-right">
      <app-button value="."></app-button>
    </div>
    <div class="deep-pink-colored-col line-color-pos-right">
      <app-button value="&equals;"></app-button>
    </div>
  </div>
</div>
