.calculator-buttons {
  grid-template-rows: repeat(6, 1fr);
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--grid-line-color);
}

.row-1 {
  border-top: none;
}
