@font-face {
  font-family: "Roboto Mono";
  src: url(../src/assets/font/RobotoMono-VariableFont_wght.ttf);
}

:root {
  --grid-line-color: #ff38ca;
  --grid-btn-fill-color-pink: #f728c0;
  --grid-btn-fill-color-deep-pink: #d318a1;
  --grid-btn-fill-color-mid-dark: #111111d5;
  --primary-theme: #000000;
  --secondary-theme: "";
  --primary-color: #ffffff;
  --min-lheight: 0.9rem;
  --max-lheight: 2.5rem;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono";
  color: var(--primary-color);
  line-height: 0;
}

body {
  background-color: var(--primary-theme);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

p {
  font-size: 0.9rem;
  line-height: var(--min-lheight);
}

h1 {
  font-size: 2.5rem;
  line-height: var(--max-lheight);
}

button {
  background-color: transparent;
  font-size: 1.2rem;
  border: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.calculator-header,
.calculator-screen {
  padding-inline: 0.3rem;
}

.calculator-header {
  grid-area: header;
}

.calculator-screen {
  grid-area: screen;
}

.calculator-buttons {
  grid-area: buttons;
  height: 100%;
}

.pink-colored-col {
  background-color: var(--grid-btn-fill-color-pink);
}

.deep-pink-colored-col {
  background-color: var(--grid-btn-fill-color-deep-pink);
}

.mid-dark-colored-col {
  background-color: var(--grid-btn-fill-color-mid-dark);
}

.line-color-pos-left {
  border-left: 1px solid var(--grid-line-color);
}

.line-color-pos-right {
  border-right: 1px solid var(--grid-line-color);
}
